# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\mocor\OneDrive - Sa Palomera\Escriptori\DAW2\M08 - DESPLEGAMENT\UF4\Examen\Curses\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
